---
// Icons
import facebook from '../assets/icons/facebook_32.png';
import snapchat from '../assets/icons/snapcodeBitmoji.svg';
import stackoverflow from '../assets/icons/stackoverflow_32.png';
import twitter from '../assets/icons/twitter_32.png';
import linkedin from '../assets/icons/linkedin_32.png';

// Styled button
import Button from './Button.astro';
---

<div class="card max-w-sm m-7 bg-primary-content text-primary shadow-xl">
  <div class="card-body">
    <h1 class="card-title">Bernie Perez</h1>

    <p>I'm Bernie a <a class="text-secondary" href="http://www.linkedin.com/in/bernielink/">Software Engineering Manager</a> for <a class="text-secondary" href="https://minis.snapchat.com/">Snap Minis</a> at <a class="text-secondary" href="https://www.snapchat.com/">Snap Inc.</a> I've studied at <a class="text-secondary" href="https://www.csulb.edu/college-of-engineering/computer-engineering-computer-science">CSULB</a> (BS) and <a class="text-secondary" href="http://www.cs.ucla.edu/">UCLA</a> (MS). Through a Fellowship from <a class="text-secondary" href="http://www.aerospace.org/">The Aerospace Corporation</a>, I received my <a class="text-secondary" href="http://blog.rungeek.com/post/6156085286/">M.S. in Computer Science specializing in Networking and Security</a>. I've worked at amazing companies like <a class="text-secondary" href="https://www.atomtickets.com/">Atom Tickets</a>, <a class="text-secondary" href="https://www.amazon.com/">Amazon</a>, <a class="text-secondary" href="https://www.oculus.com/">Oculus</a>, and <a class="text-secondary" href="https://www.facebook.com/">Facebook</a>. Also I created a fantasy game for <a class="text-secondary" href="https://games.crossfit.com/">The Crossfit Games</a> called <a class="text-secondary" href="https://www.fantasyfitnessdraft.com/">Fantasy Fitness Draft</a>.</p>
    <p>My wife and I enjoy taking our dog, <a class="text-secondary" href="https://www.instagram.com/papabearyorkie/">Papa Bear</a>, on walks, being active, going outdoors, and traveling. Some of my favorite pastimes are coding personal projects, running, swimming, and CrossFit.</p>

    <div class="card-actions justify-center">
      <Button link="http://www.facebook.com/bernieperez" imgSrc={facebook} />
      <Button link={snapchat} imgSrc={snapchat} />
      <Button link="http://stackoverflow.com/users/1992/bernie-perez" imgSrc={stackoverflow} />
      <Button link="http://www.twitter.com/AeroBernie" imgSrc={twitter} />
      <Button link="https://www.linkedin.com/in/bernielink/" imgSrc={linkedin} />
    </div>
  </div>
</div>